// Primary
$primary-darkest: #0A3439;
$primary-darker: #006F7D;
$primary-dark: #00AEC5;
$primary: #08D0EA;
$primary-light: #4DDCEF;
$primary-lighter: #95EDF8;
$primary-lightest: #C8EFF4;

// Secondary
$secondary-darkest: #091336;
$secondary-darker: #0F2473;
$secondary-dark: #0E42C5;
$secondary: #0575E6;
$secondary-light: #6FB3F8;
$secondary-lighter: #B1DAFA;
$secondary-lightest: #DBEDFC;

// Neutrals
$gray-lightest2: #F7FAFC;
$gray-lightest: #EDF2F7;
$gray-lighter: #E2E8F0;
$gray-light: #CBD5E0;
$gray: #A0AEC0;
$gray-dark: #718096;
$gray-darker: #4A5568;
$gray-darkest: #374255;
$gray-darkest2: #28303E;
$gray-darkest3: #393F5A;

// Other Colors
$red: #E74C3C;
$red-dark: #C0392B;
$red-lightest: #FFEBEE;
$orange-light: #F39C12;
$orange: #E67E22;
$orange-dark: #D35400;
$yellow-light: #FFF7D4;
$yellow: #F1C40F;
$yellow-dark: #F39C12;
$green: #2ECC71;
$green-dark: #27AE60;
$green-lightest: #E6FCEF;
$blue: #0575E6;
$blue-lightest: #E3F2FD;

$white: #fff;
$black: #111;

// VS COLORS
$blue-light: #F0F5FE;
$blue-light1: #D7E4FE;
